<header>
  <nav>
    <ul>
      <h3>Navigation</h3>
      <li>
        <a href="/">Home</a></li>
      <li>
        <a href="/books">View All Books</a>
      </li>
      <li>
        <a href="/books/new">Create a New Book</a>
      </li>
      <li>
        <a href="/authors">View All Authors</a>
      </li>
      <li>
        <a href="/authors/new">Create a New Author</a>
      </li>
    </ul>
  </nav>
</header>

<h1>BookLister!</h1>
<h2>Add your own book</h2>
<p>Build a handy form to create a book in the database!</p>
