body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#container {
  width: 970px;
  margin: auto;
  margin-top: 100px;
}

img {
  width: 300px;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-top: 100px;
}
