<section>
  <form action="/authors" method="POST">
    <label>
      Name
      <input type="text" name="name" value="<%= @author.name %>">
    </label>

    <input type="submit">
  </form>
</section>
